[submodule "LuminoPy_E-Commerce"]
	path = LuminoPy_E-Commerce
	url = https://github.com/zl-academy/LuminoPy_E-Commerce.git
[submodule "LuminoPy_API-Dolar"]
	path = LuminoPy_API-Dolar
	url = https://github.com/zl-academy/LuminoPy_API-Dolar.git
[submodule "LuminoPy_PrecosLME"]
	path = LuminoPy_PrecosLME
	url = https://github.com/zl-academy/LuminoPy_PrecosLME.git
[submodule "LuminoPy_Eleicao"]
	path = LuminoPy_Eleicao
	url = https://github.com/zl-academy/LuminoPy_Eleicao.git
